@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
	Убираем внутренние отступы слева тегам списков,
	у которых есть атрибут class
   */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
	Убираем внешние отступы body и двум другим тегам,
	у которых есть атрибут class
   */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
	Убираем внешние отступы вертикали нужным тегам,
	у которых есть атрибут class
   */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
	Убираем стандартный маркер маркированному списку,
	у которого есть атрибут class
   */
:where(ul[class]) {
  list-style: none;
}

/**
	Обнуляем вертикальные внешние отступы параграфа,
	объявляем локальную переменную для внешнего отступа вниз,
	чтобы избежать взаимодействие с более сложным селектором
   */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
	Внешний отступ вниз для параграфа без атрибута class,
	который расположен не последним среди своих соседних элементов
   */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
	Упрощаем работу с изображениями
   */
img {
  display: block;
  max-width: 100%;
}

/**
	Наследуем свойства шрифт для полей ввода
   */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
	Приводим к единому цвету svg-элементы
   */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
	Чиним баг задержки смены цвета при взаимодействии с svg-элементами
   */
svg * {
  transition-property: fill, stroke;
}

/**
	Удаляем все анимации и переходы для людей,
	которые предпочитают их не использовать
   */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --cta: #8b00ff;
  --background: #fff;
  --card-stroke: #f4f4f4;
  --sale: #ff3a3a;
  --inacvtive: #a7a7a7;
  --rate: #ffaf02;
  --cool: #00b012;
  --text-body: #000;
  --text-secondary: #545454;
  --text-button-primary: #fff;
  --white-color: #fff;
  --font-family: "Titillium Web", sans-serif;
  --second-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0px 15px;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.hero {
  position: relative;
  height: 400px;
  background-color: #999;
  background-image: url("./../img/hero/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center center; /* x y */
  background-size: cover;
  z-index: 2;
}
.hero__container {
  height: 100%;
}
.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.hero-swiper {
  width: 600px;
  height: auto;
  z-index: 10;
}

.hero-swiper__wrapper {
  display: flex;
  align-items: stretch;
  padding-bottom: 180px;
}

.hero-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: auto;
}
.hero-slide__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  color: var(--white-color);
}
.hero-slide__description {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
  color: var(--white-color);
}
.hero-slide__link {
  font-size: 14px;
  font-weight: 600;
  display: block;
  padding: 10px 24px;
  text-decoration: none;
  color: var(--white-color);
  border-radius: 4px;
  background-color: var(--cta);
}

.swiper-pagination-bullet {
  width: 168px;
  height: 4px;
  opacity: 1;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
}

.swiper-pagination-bullet-active {
  background-color: var(--cta);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev {
  background-image: url("./../img/hero/slider-left-arrow.svg");
}

.swiper-button-next {
  background-image: url("./../img/hero/slider-right-arrow.svg");
}

@media only screen and (max-width: 1024px) {
  .hero-swiper {
    width: 400px;
  }
  .hero-slide__title {
    font-size: 30px;
  }
  .hero-slide__description {
    font-size: 16px;
  }
  .hero-slide__link {
    padding: 8px 20px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .swiper-pagination-bullet {
    width: 100px;
  }
}
.products {
  padding: 80px 0px;
}
.products-row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  --gap: 24px;
  --elements: 4;
  margin-bottom: 160px;
}

.products-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 23px;
  border-radius: 8px;
  border: 1px solid #F4F4F4;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.03), 1px 1px 4px 0 rgba(0, 0, 0, 0.03), 5px 6px 7px 0 rgba(0, 0, 0, 0.03), 10px 12px 10px 0 rgba(0, 0, 0, 0.02), 18px 22px 11px 0 rgba(0, 0, 0, 0), 29px 35px 13px 0 rgba(0, 0, 0, 0);
  /*
  1.ширина родителя (100%)
  2.количество элементов в строке (elements)
  3.количество отступов (кол-во элементов минус 1 (elements-1) )
  */
  width: calc((100% - (var(--elements) - 1) * var(--gap)) / (var(--elements)));
  min-height: 264px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s;
}
.products-link:hover {
  background-color: var(--cta);
}
.products-link:hover .products-link__text {
  color: #ffffff;
}
.products-link__text {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  max-width: 97px;
  color: black;
}

@media only screen and (max-width: 1024px) {
  .products-row {
    --elements: 2;
  }
}
@media only screen and (max-width: 768px) {
  .products-row {
    --elements: 1;
  }
}
.products-blocks {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.products-block__heading {
  display: flex;
  max-width: 670px;
  column-gap: 14px;
  margin-bottom: 40px;
}
.products-block__line {
  width: 8px;
  height: auto;
  background-color: var(--cta);
}
.products-block__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.products-block__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 37px;
}
.products-block__text {
  font-size: 14px;
  font-weight: 400;
  max-width: 615px;
}
.products-block__cards {
  display: flex;
  flex-wrap: wrap;
  --gap: 24px;
  --elements: 4;
  gap: var(--gap);
}

.products-card {
  display: flex;
  flex-direction: column;
  width: calc((100% - (var(--elements) - 1) * var(--gap)) / (var(--elements)));
  min-height: 465px;
  padding: 20px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.03), 1px 1px 4px 0 rgba(0, 0, 0, 0.03), 5px 6px 7px 0 rgba(0, 0, 0, 0.03), 10px 12px 10px 0 rgba(0, 0, 0, 0.02), 18px 22px 11px 0 rgba(0, 0, 0, 0), 29px 35px 13px 0 rgba(0, 0, 0, 0);
}
.products-card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-card__top-icons {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.products-card__favorite {
  width: 24px;
  height: 24px;
}
.products-card__eye {
  width: 24px;
  height: 24px;
}
.products-card__top-text {
  background-color: var(--sale);
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  color: #ffffff;
  padding: 2px 20px;
}
.products-card__img {
  width: 168px;
  height: 168px;
  align-self: center;
  margin-bottom: 40px;
}
.products-card__name {
  text-align: center;
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  color: var(--text-body);
}
.products-card__prices {
  display: flex;
  column-gap: 8px;
  margin-bottom: 20px;
  align-self: center;
}
.products-card__discount-price {
  font-size: 28px;
  font-weight: 400;
  color: var(--text-body);
  line-height: 37px;
}
.products-card__price {
  font-size: 20px;
  font-weight: 400;
  line-height: 37px;
  color: var(--inacvtive);
  text-decoration: line-through;
}
.products-card__button-cart {
  align-self: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  background-color: var(--cta);
  color: #ffffff;
  border: 1px solid var(--cta);
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 10px 74.5px;
  cursor: pointer;
  transition: all 0.3s;
  max-width: 224px;
}
.products-card__button-cart:hover {
  background-color: white;
  color: var(--cta);
}
.products-card__button-compare {
  border: none;
  background-color: transparent;
  color: var(--cta);
  cursor: pointer;
  transition: all 0.3s;
}
.products-card__button-compare:hover {
  scale: 1.03;
}

@media only screen and (max-width: 1280px) {
  .products-block__cards {
    --elements: 3;
  }
}
@media only screen and (max-width: 1024px) {
  .products-block__cards {
    --elements: 2;
  }
}
@media only screen and (max-width: 768px) {
  .products-block__cards {
    --elements: 1;
  }
}
.about {
  background-color: var(--card-stroke);
}
.about__row {
  display: flex;
  padding-left: max(15px, (100% - 1128px) / 2);
}
.about__row--right {
  padding-right: max(15px, (100% - 1128px) / 2);
  padding-left: 0px;
}
.about__sertificates {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  padding: 87px 0px;
  flex-wrap: wrap;
  --gap: 24px;
  --elements: 3;
  gap: var(--gap);
}
.about__sertificates-photo {
  width: calc((100% - (var(--elements) - 1) * var(--gap)) / (var(--elements)));
}

.about-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 552px;
  flex-shrink: 0;
  margin-right: 120px;
}
.about-content__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
}
.about-content__text {
  font-size: 14px;
  font-weight: 400;
}

.about-content--right {
  margin-left: 120px;
  margin-right: 0px;
}

.about-img {
  background-image: url("./../img/about/photo-1.jpg");
  background-color: #999;
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 409px;
  width: calc(100% - 552px - 120px);
}

.about-img--left {
  background-image: url("./../img/about/photo-2.jpg");
}

.container-sertificates {
  background-color: white;
}

@media only screen and (max-width: 1024px) {
  .about__container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0px 15px;
  }
  .about__row, .about__row-right {
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
  }
  .about-content, .about-content--right {
    flex-shrink: 1;
    margin-right: 0px;
    margin-left: 0px;
  }
  .about-img {
    display: none;
  }
  .about__sertificates {
    --elements: 2;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    padding-top: 24px;
  }
  .about__sertificates {
    --elements: 1;
  }
  .about-content__title {
    font-size: 20px;
  }
}