:root{
    // colors
    --cta: #8b00ff;
	--background: #fff;
	--card-stroke: #f4f4f4;
	--sale: #ff3a3a;
	--inacvtive: #a7a7a7;
	--rate: #ffaf02;
	--cool: #00b012;
	--text-body: #000;
	--text-secondary: #545454;
	--text-button-primary: #fff;
	--white-color: #fff;
    // fonts
    --font-family: "Titillium Web", sans-serif;
    --second-family: "Inter", sans-serif;
}